@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font);
  letter-spacing: -0.02rem;
}

:root {
  --font: "Poppins", sans-serif;
}

.border {
  /* border: 0.1rem solid black; */
}

body {
  display: flex;

  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e1e1fb;
}

.container {
  display: flex;
  width: 40vw;
  height: 46vh;
  max-width: 75ch;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: #fff;
}

.flex-item {
  margin: 0.5rem;
  flex: 1 1 0;
}

.middle {
  flex-grow: 4;
  display: flex;
}

.middle-items {
  flex: 1 1 0;
}

.middle .right {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2rem;
  gap: 0.1rem;
}

.middle .left {
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 0.5rem 0 0 0;
}

.image-container {
  width: 5rem;
  height: 5rem;
  background-color: #00ffa2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  color: #004466;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 3rem;
}
.bottom-items {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 0.1rem solid #e1e1fb;
  border-bottom: 0.1rem solid #e1e1fb;
  padding: 1rem;
  font-size: 0.8rem;
}

.bottom-items:hover {
  background-color: #e1e1fb;
}

.follow-button {
  padding: 0.4rem 2.2rem;
  background-color: white;
  border: 0.2rem solid black;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: var(--font);
  font-size: 0.7rem;
  font-weight: 700;
}
.follow-button:hover {
  background-color: hsl(0, 1%, 95%);
}

.right > div {
  flex: 1 1 0;
  /* padding: 1rem; */
}

.name {
  display: flex;
  align-items: end;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 0 0 0.5rem 0.5rem;
}

.follow-button-container {
  display: flex;
  align-items: start;
  padding: 0.5rem 0 0 0.5rem;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
}

.top > div {
  flex: 0 1 43%;
  display: flex;
}

.img-container {
  flex: 1 1 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.2rem;
}

.img-container .img {
  border: 0.1rem solid #e1e1fb;

  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
}

.img-container .img img {
  background-repeat: no-repeat;
  width: 0.6rem;
  height: 0.6rem;
}

.content {
  flex: 3 1 0;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 0.3rem;
}
